
    	.tip-bubble{
    		 position: relative;
             background-color:#f8f9fb;
             padding:10px;
             color:rgba(0,0,0, 0);
             border-radius: 5px;
             border: 1px solid #ccc;
             float: left;
             max-width: 79%;
             max-height:43px;
             /* overflow: hidden; */
    	}
    	.tip-time{
    		width: 180px;
    	}
    	.tip-content{
    		background-color: #fff;
    	}
        .tip-content:after {
              content: '';
              position: absolute;
              width: 14px;
              height:14px;
              border-left: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              left: -8px;
    		  bottom: 31%;;
              background-color:#fff;
              -webkit-transform:rotate(45deg);
        }
        .tip-time:after {
              content: '';
              position: absolute;
              width: 14px;
              height:14px;
              border-left: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              left: 96%;
    		  bottom: 31%;;
              background-color:#f8f9fb;
              -webkit-transform:rotate(225deg);
        }
        .revordDiv-big{display: flex;position: relative;margin-top: 40px;}
        .revordDiv-min{display: flex;position: relative;margin-top: 27px;}
        .tip-time>div{color: #a1a4a7;}
        .tip-content>div{color: #999;}
        .connect-big{background-color: #1d9cbb;width: 4px;height: 40px;position: relative;left: 215px;float: left;}
        .connect-min{background-color: #1d9cbb;width: 4px;height: 54px;position: relative;left: 215px;float: left;margin-top: -14px;}
        .wordTitle{position: absolute;left: 203px;top: 11px;color: #fff;}
        .img-big{width: 45px;height: 45px;margin: 0px 15px;float: left;}
        .img-min{width: 16px;height: 16px;margin: 13px 25px;float: left;}

