.content-lkjequipmenthistory-MainDiv{
	width:100%;
	height:100%;
}

.app_lkjequipmenthistory_tab_div {
	width: 100%;
	height: 37px;
	border-bottom: 1px solid rgb(204, 204, 204);
}

.app_lkjequipmenthistory_closeBtnDiv{
	width: 50px;
	right: 25px;
	position: absolute;
	top: 5px;
}

.app_lkjequipmenthistory_closeBtn{

	background: #005dba;
	color: white;
	border: 0px;
	width: 60px;
	height: 25px;
	cursor: pointer;
}




.tab-empty {
	position: absolute;
	width: 620px;
	height: 30px;
	left: 191px;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #ccc;
	top: 1px;
}

.tab-start {
	position: relative;
	width: 1%;
	height: 30px;
	left: 0px;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	top: 1px;
	display: inline-block;
}

.tab-start-head-alarm-version {
	left: 1%;
	position: absolute;
	width: 25%;
	height: 31.5px;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ccc;
	cursor: pointer;
	display: inline-block;
	border-bottom: 0px;
}

.tab-start-head-version {
	left: 26%;
	position: absolute;
	width: 25%;
	height: 31.5px;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ccc;
	cursor: pointer;
	display: inline-block;
	border-bottom: 0px;
	/* left: 0px; */
}

.tab-middle-version {
	left: 51%;
	position: absolute;
	width: 30%;
	height: 31.5px;
	/* left: 60px; */
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ccc;
	cursor: pointer;
	display: inline-block;
	border-bottom: 0px;
}

.tab-end-div-version {
	left: 76%;
	position: absolute;
	width: 25%;
	height: 31.5px;
	/* left: 180px; */
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ccc;
	cursor: pointer;
	display: inline-block;
	border-bottom: 0px;

}

.tab-div1-new {
	left: 0px;
	position: absolute;
	top: 5px;
	width: 30%;
	height: 30px;
	background: #fff;
}

.content-basic-div-new {
	padding-left: 0px;
	width: 100%;
	height: 500px;
}

.content-lkjequipmenthistory-body {
	width: 100%;
	margin-top: 0px;
	border-bottom: 1.5px #A8A8A8 solid;
}

.content-lkjequipmenthistory-head {
	height: 45px;
	line-height: 45px;
	text-align: center;
	vertical-align: middle;
	padding-top:15px;
}

.content-lkjequipmenthistory-version {
	height: 200px;
	line-height: 200px;
	display: table;
}

.content-lkjequipmenthistory-kunei {
	height: 200px;
	line-height: 200px;
	display: table;
}

.content-lkjequipmenthistory-churuku {
	height: 100px;
	line-height: 200px;
	display: table;
}

.content-lkjequipmenthistory-head-comm {
	height: 30px;
	line-height:30px;
	width:120px;
	float: right;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.content-lkjequipmenthistory-search{
	width: 250px;
}

.search-text-input{
	border:1px solid #005dba;
	height:21px;
}

.search-button{
	border:1px solid #005dba;
	background-color: #005dba;
	color:#FFFFFF;
	height:25px;
	text-align: center;   
}

.content-lkjequipmenthistory-head-split{
	border-right:1px solid #ccc;
}

.content-lkjequipmenthistory-left{
	width:5%;
	height:100%;
	text-align: center;
	vertical-align: middle;
	line-height: 25px;
	display: table-cell;
	background-color: #005dba;
	color: #FFFFFF;
}

.content-lkjequipmenthistory-version-right{
	width:100%;
	height:100%;
	overflow-y: auto;
}

.content-lkjequipmenthistory-right-top{
	height:35px;
	line-height: 35px;
	width:99%;
	border-bottom:1px solid #ccc;
	vertical-align: middle;
	padding-left:10px;
}

.content-lkjequipmenthistory-right-top img{
	vertical-align: middle;
}

.content-lkjequipmenthistory-version-right-bottom{
	height:50px;
	line-height: 50px;
	width:100%;
	border-bottom:1px solid #ccc;
	/*overflow-y: scroll;*/
}

.content-lkjequipmenthistory-version-train{
	width:100px;
	height:46px;
	line-height: 46px;
	float:left;
	margin-left:2px;
	margin-top:2px;
}

.content-lkjequipmenthistory-version-train-online{
	background-color: #4dcd70;
}

.content-lkjequipmenthistory-version-train-outline{
	background-color: #f4ae00;
}

.content-lkjequipmenthistory-version-train-info{
	width:100%;
	height:15px;
	line-height: 15px;
	text-align: center;
	vertical-align: middle;
}

.content-lkjequipmenthistory-version-train-info-top{
	margin-top:10px;
}

.screen-up{
	position: absolute;
	width:14px;
	height:25px;
}

.screen-up-version,.screen-up-kunei{
	top:35px;
	right:0px;
}

.screen-down{
	position: absolute;
	width:14px;
	height:25px;
}

.screen-down-version{
	top:60px;
	right:0px;
}

.screen-down-kunei{
	top:90px;
	right:0px;
}

.screen-up img{
	vertical-align: top;
}

.content-lkjequipmenthistory-kunei-right-bottom{
	height:115px;
	line-height: 115px;
	width:100%;
	border-bottom:1px solid #ccc;
	/*overflow-y: scroll;*/
}
.content-lkjequipmenthistory-kunei-right{
	overflow-y: auto;
	width:100%;
	height:100%;
}

.content-lkjequipmenthistory-churuku-right{
	overflow-y: auto;
	width:100%;
	height:100%;
}

.content-lkjequipmenthistory-kunei-train{
	width:160px;
	height:50px;
	line-height: 50px;
	float:left;
	margin-left:2px;
	margin-top:2px;
}

.content-lkjequipmenthistory-kunei-train-online{
	/*background: url(../../../img/app/failureWarnning-images/train-online.png) no-repeat;;*/
	border: 1px solid rgb(192, 191, 191);
	background: #CCCCCC;
	cursor: pointer;
}

.content-lkjequipmenthistory-kunei-train-outline{
	/*background: url(../../../img/app/failureWarnning-images/train-offline.png) no-repeat;;*/
	border: 1px solid rgb(192, 191, 191);
	background: #CCCCCC;
}

.content-lkjequipmenthistory-kunei-train-info-left{
	width:50%;
	height:15px;
	line-height: 15px;
	text-align: center;
	vertical-align: bottom;
	float: left;
}

.content-lkjequipmenthistory-kunei-train-info-right{
	width:50%;
	height:15px;
	line-height: 15px;
	text-align: center;
	vertical-align: bottom;
	float: right;
}

.content-lkjequipmenthistory-kunei-train-empty{
	width: 162px;
	height: 35px;
	/*background: url(../../../../img/app/failureWarnning-images/train-online.png) no-repeat;*/
	position: absolute;
	border: 0px;
}

.content-lkjequipmenthistory-kunei-train-info{
	width: 162px;
	height: 20px;
	/* vertical-align: bottom; */
	position: absolute;
	/* top: 37px; */
	top: 37px;
	border: 0px;
}
/*******************************************************/
.content-lkjequipmenthistory-middleDiv{
	width: 100%;
	height: 95%;
}
.content-lkjequipmenthistory-middle-top{
	height: 60px;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
	/* padding-top: 7px; */
	border-bottom: 1px solid rgb(192, 191, 191);
}
.content-lkjequipmenthistory-middle-top-sub1{
	position: relative;
	width: 10%;
	/* left: 30%; */
	display: inline-block;
	font-weight: bolder;
}
.content-lkjequipmenthistory-middle-top-hr{
	position: relative;
	width: 1px;
	height: 25px;
	background-color: rgb(204, 204, 204);
	/* left: 40%; */
	line-height: 25px;
	top: 10px;
	display: inline-block;
}
.content-lkjequipmenthistory-checkbox{
	vertical-align: middle;
}
.content-lkjequipmenthistory-middle-top-sub2{
	position: relative;
	width: 10%;
	display: inline-block;
	font-weight: bold;
}
.content-lkjequipmenthistory-middle-top-sub3{
	position: relative;
	width: 10%;
	display: inline-block;
	font-weight: bold;
}
.content-lkjequipmenthistory-middle-c{
	position: relative;
	/*position: absolute;*/
	width: 100%;
	overflow: auto;
	height: 96%;
}
.content-lkjequipmenthistory-middle-c-sub{
	position: relative;
	padding-bottom: 3px;
	border-bottom: 1px solid rgb(192, 191, 191);
}
.content-lkjequipmenthistory-middle-c-sub-title{
	/* position: relative; */
	height: 28px;
	line-height: 28px;
	/* text-align: center; */
	vertical-align: middle;
	border-bottom: 1px solid rgb(192, 191, 191);
	background-color: whitesmoke;
	font-size:14px;
}
.content-lkjequipmenthistory-middle-c-sub-title-name{
	position: relative;
	display: inline-block;
	left: 2%;
	width: 130px;
	vertical-align: top;
	font-weight: bold;
	/*font-size: 15px;*/   /*glj*/ 
}
.content-lkjequipmenthistory-middle-c-sub-title-numDiv{
	position: relative;
	display: inline-block;
	width: 400px;
	vertical-align: top;
	font-weight: bold;
	/*font-size: 15px; */  /*glj*/ 
}
.content-lkjequipmenthistory-middle-c-sub-title-tz{
	position: relative;
	display: inline-block;
	left: 5%;
	width: 8%;
}
.content-lkjequipmenthistory-middle-c-sub-title-tz-num{
	position: relative;
	display: inline-block;
	left: 10%;
}
.content-lkjequipmenthistory-middle-c-sub-title-kn{
	position: relative;
	display: inline-block;
	left: 5%;
	width: 8%;
}

.content-lkjequipmenthistory-middle-c-sub-title-crk{
	position: relative;
	left: 5%;
	display: inline-block;
	width: 11%;
}
.content-lkjequipmenthistory-middle-c-sub-title-img{
	position: relative;
	left: 1%;
	display: inline-block;
	/* width: 8%; */
	height: 22px;
	line-height: 22px;
	width: 22px;
	top: 4.5px;
	vertical-align: top;
	float: left;
}
.content-lkjequipmenthistory-middle-c-sub-title-img:hover{
	cursor: pointer;
}
.content-lkjequipmenthistory-middle-c-sub-title-img img{
	width: 15px;
	height: 15px;
}
.content-lkjequipmenthistory-middle-c-sub-c{
	position: relative;
	height: 100px;
}
.content-lkjequipmenthistory-middle-c-sub-c-tableDiv{
	position: relative;
	/*height: 45px;*/
	min-height: 45px;
	width: 100%;
	/* left: 20px; */
	display: inline-block;
	/*margin-top: 2px;*/
	overflow-y: auto;
	overflow-x:hidden; 
	
}
.content-lkjequipmenthistory-middle-c-sub-c-tableDiv-Height{
	height: 100px;
	overflow-y: hidden;
	left:20px;
}
.content-lkjequipmenthistory-middle-c-sub-c-table{
	position: relative;
	/* height: 100%; */
	width: 100%;
}
.content-lkjequipmenthistory-middle-c-sub-c-table tr{
	width: 100%;
	height: 25px;
	line-height: 25px;
	background: rgb(204, 204, 204);
}
.content-lkjequipmenthistory-middle-c-sub-c-table-emptyTd{
	border: 0px;
	background-color: white;	
}

.content-lkjequipmenthistory-middle-c-sub-c-table tr td{
	/* position: relative; */
	border: 1px solid rgb(204, 204, 204);
	text-align: center;
	width: 10%;
}
.content-lkjequipmenthistory-middle-c-sub-c-table-other tr{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: rgb(204, 204, 204);
}
.content-lkjequipmenthistory-middle-c-sub-c-table-other tr td{
	/* position: relative; */
	border: 1px solid rgb(204, 204, 204);
	text-align: center;
	width: 20%;
}

.content-lkjequipmenthistory-middle-c-sub-c-scroll{
	position: relative;
	width: 14px;
	height: 100%;
	right: 0px;
	display: inline-block;
	float: right;
	
}
.content-lkjequipmenthistory-middle-c-sub-c-scrollUp{
	width: 100%;
	height: 14px;
	line-height: 14px;
	vertical-align: middle;
	position: absolute;
	top: 0px;
	cursor: pointer;
}
.content-lkjequipmenthistory-middle-c-sub-c-scrollDown{
	width: 100%;
	height: 14px;
	line-height: 14px;
	vertical-align: middle;
	position: absolute;
	bottom: 0px;
	cursor: pointer;
}
.content-lkjequipmenthistory-middle-c-sub-c-sub{
	width: 100%;
	height: 56px;
	border-top: 1px solid rgb(192, 191, 191);
	margin-top: 3px;
}
.content-lkjequipmenthistory-middle-c-sub-c-sub-tableDiv{
	position: absolute;
	height: 56px;
	width: 95%;
	left: 20px;
	display: inline-block;
}
.content-lkjequipmenthistory-middle-c-sub-c-sub-table{
	position: relative;
	/* height: 100%; */
	width: 100%;
}

.content-lkjequipmenthistory-middle-c-sub-c-sub-scroll{
	position: absolute;
	width: 14px;
	height: 56px;
	right: 0px;
	/*display: inline-block;*/
	
}
.content-lkjequipmenthistory-middle-c-sub-c-sub-scrollUp{
	width: 100%;
	height: 14px;
	line-height: 14px;
	vertical-align: middle;
	position: absolute;
	top: 0px;
	cursor: pointer;
}
.content-lkjequipmenthistory-middle-c-sub-c-sub-scrollDown{
	width: 100%;
	height: 14px;
	line-height: 14px;
	vertical-align: middle;
	position: absolute;
	bottom: 0px;
	cursor: pointer;
}
/*******************************************************/
.content-lkjequipmenthistory-endDiv{
	width:100%;
	height:100%;
}
/**********************************************/
.content-lkjequipmenthistory-locoTypeHoverDiv{
	width: 150px;
	height: 200px;
	/*top: 100px;*/
	position: absolute;
	/*left: 200px;*/
	background: white;
	box-shadow: 1px 1px 10px gray;
}
.content-lkjequipmenthistory-locoTypeHoverDiv-tab{
	width: 144px;
	height: 196px;
	margin-top: 3px;
	margin-left: 3px;
	background: rgb(239, 239, 239);
}
.locoTypeHoverDiv-tab-topHr{
	background: white;
	height: 2px;
	border: 0px;
	position: relative;
	bottom: 0px;
	
}
.content-lkjequipmenthistory-locoTypeHoverDiv-tab tr{
	line-height: 25px;
	height: 25px;
}
.content-lkjequipmenthistory-locoTypeHoverDiv-tab tr td{
	width:90px;
	text-align: center;
}
.content-lkjequipmenthistory-locoTypeHoverDiv-tab tr th{
	width:54px;
	text-align: left;
}
/**************************************/
.content-lkjequipmenthistory-tuzhongHoverDiv{
	width: 200px;
	height: 340px;
	top: 100px;
	position: absolute;
	left: 200px;
	background: white;
	box-shadow: 1px 1px 10px gray;
}
.content-lkjequipmenthistory-tuzhongHoverDiv-tab{
	width: 194px;
	height: 196px;
	margin-top: 3px;
	margin-left: 3px;
	background: rgb(239, 239, 239);
}

.content-lkjequipmenthistory-tuzhongHoverDiv-tab tr{
	line-height: 25px;
	height: 25px;
}
.content-lkjequipmenthistory-tuzhongHoverDiv-tab tr td{
	width:100px;
	text-align: center;
}
.content-lkjequipmenthistory-tuzhongHoverDiv-tab tr th{
	width:135px;
	text-align: left;
}

/****15鍨嬫牱寮�**/
.content-lkjequipmenthistory-tuzhongHoverDiv15{
	width: 254px;
	height: 404px;
	top: 100px;
	position: absolute;
	left: 200px;
	background: white;
	box-shadow: 1px 1px 10px gray;
}
.content-lkjequipmenthistory-tuzhongHoverDiv-tab15{
	width: 250px;
	height: 330px;
	margin-top: 3px;
	margin-left: 3px;
	background: rgb(239, 239, 239);
}

.content-lkjequipmenthistory-tuzhongHoverDiv-tab15 tr{
	line-height: 20px;
	height: 20px;
}
.content-lkjequipmenthistory-tuzhongHoverDiv-tab15 tr td{
	width:100px;
	text-align: center;
}
.content-lkjequipmenthistory-tuzhongHoverDiv-tab15 tr th{
	width:150px;
	text-align: left;
}
/***************************************/
.content-lkjequipmenthistory-rightClickDiv{
	width: 100px;
	/*height: 196px;*/
	margin-top: 3px;
	margin-left: 3px;
	top: 100px;
	position: absolute;
	left: 200px;
	background: white;
	box-shadow: 1px 1px 10px gray;
	
}
.content-lkjequipmenthistory-rightClickDiv-tab{
	width: 100%;
	height:100%;
}
.content-lkjequipmenthistory-rightClickDiv-tab tr{
	width: 100%;
	height: 39px;
}
.content-lkjequipmenthistory-rightClickDiv-tab tr td{
	width: 100%;
	text-align: center;

}
.content-lkjequipmenthistory-rightClickDiv-tab tr td:hover{
	background: #f3ae00;
	cursor: pointer;
}
.content-lkjequipmenthistory-rightClickDiv-tab-tdBorder{
	border-bottom: 1px solid rgb(192, 191, 191);
}
/****************************************/
.content-lkjequipmenthistory-tab1-bodyHeight{
	/*height:100px;
	line-height:30px;*/
	max-height: 160px;
}
.bodyHeight-60{
	height:60px;
	line-height:60px;
}
/************88**/
.content-lkjequipmenthistory-middle-c-sub-c-tabDiv{
	width: 98%;

	/*overflow-y: hidden;*/
	left: 20px;
	/*top: 3px;*/
	position: absolute;
}
.content-lkjequipmenthistory-middle-c-sub-c-tabDiv2{
	line-height: 100%;
	/*height: 100%;*/
	
}
.content-lkjequipmenthistory-middle-c-sub-c-tabDiv-Td{
	width: 9%;
	height: 45px;
	border: 1px solid rgb(192, 191, 191);
	background: #CCCCCC;
	display: inline-table;
	text-align: center;
	line-height: 45px;
	margin-left: 3px;
	/*margin-bottom: 3px;*/
	margin-top: 2px;
}
.content-lkjequipmenthistory-unexchange{
	background:#CC0;
}
.content-lkjequipmenthistory-alarm{
	background:#F36;
}
.content-lkjequipmenthistory-exchange{
	background:#6CF;
}
.content-lkjequipmenthistory-errorexchange{   
	background:#6CF; 
}
.content-lkjequipmenthistory-middle-c-sub-c-tabDiv-TdOnline{ 
	background:#4dcd70;
}
.content-lkjequipmenthistory-middle-c-sub-c-tabDiv-Td-type{
	height: 22.5px;
	position: relative;
	top: 0px;
	text-align: center;
	vertical-align: middle;
	line-height: 22.5px;
	width: 100%;
}
.content-lkjequipmenthistory-middle-c-sub-c-tabDiv-Td-checiname{
	height: 22.5px;
	position: relative;
	bottom: 0px;
	line-height: 22.5px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.content-lkjequipmenthistory-middle-c-sub-c-sub-showLocoNo{
	width: 100%;
	height: 53px;
	position: absolute;
	margin-top: 3px;
}
.content-lkjequipmenthistory-middle-c-sub-c-sub-showLocoNo-sub{
	width: 8%;
	height: 25px;
	background: rgb(168, 168, 168);
	display: inline-block;
	/* color: red; */
	position: relative;
	line-height: 25px;
	margin-left: 3px;
	text-align: center;
	/* top: 0px; */
	display: inline-block;
	margin-top: 2px;
}

.content-lkjequipmenthistory-middle-c-sub-c-table-td-bg{
	background: #f3ae00;
	cursor:pointer;
	
}
.content-lkjequipmenthistory-middle-c-sub-c-sub-showLocoNo-sub-outDiv{
	width: 100%;
	height: 53px;
	/* position: relative; */
	/* margin-top: 3px; */
	line-height: 100%;
}

.content-lkjequipmenthistory-tab3-condition-table{
	display: table;
	width:100%;
	height:80px;
	line-height: 80px;
	border-collapse:separate;
}

.content-lkjequipmenthistory-tab3-condition-row{
	display:table-row;
	width:100%;
	height:40px;
	line-height: 40px;
}

.content-lkjequipmenthistory-tab3-condition-cell{
	display:table-cell;
	width:30%;
	height:40px;
	line-height:40px;
	text-align: center;
	vertical-align: middle;
}

.loco-lkjequipment-query-btn-div a
{
    display: block;
    background-image: url("../../../img/app/button_top.png");
    background-repeat: no-repeat;
    color: #fff;
    text-decoration: none;
    line-height: 22px;
    width:71px;
}
    
.loco-lkjequipment-query-btn-div a:hover
{
    background-image: url("../../../img/app/button_down.png");
}
.content-locospread-middle-c-sub-title-version{
display: inline-block;
position: relative;
/*margin-left: 10px;*/
font-weight: bold;
/*left: 3%;*/
width: 600px;
}
.content-locospread-middle-c-sub-title-version1{
display: inline-block;
position: relative;
margin-left: 10px;
font-weight: bold;
left: 3%;
/*font-size: 15px; */
}
.content-locospread-middle-c-sub-title-version2{
display: inline-block;
position: relative;
margin-left: 10px;
font-weight: bold;
left: 3%;
}
.content-locospread-middle-c-sub-title-version3{
display: inline-block;
position: relative;
margin-left: 10px;
font-weight: bold;
left: 3%;
}
.content-locospread-middle-c-sub-title-version4{
display: inline-block;
position: relative;
margin-left: 10px;
font-weight: bold;
left: 3%;
}
.content-locospread-middle-c-sub-title-version5{
display: inline-block;
position: relative;
margin-left: 10px;
font-weight: bold;
left: 3%;
}
.content-locospread-middle-c-sub-title-version6{
display: inline-block;
position: relative;
margin-left: 10px;
font-weight: bold;
left: 3%;
}
.content-locospread-middle-c-sub-title-version1-name{
display: inline-block;
position: relative;
}
.content-locospread-middle-c-sub-title-version2-name{
display: inline-block;
position: relative;
}
.content-locospread-middle-c-sub-title-version3-name{
display: inline-block;
position: relative;
}
.content-locospread-middle-c-sub-title-version4-name{
display: inline-block;
position: relative;
}

.content-locospread-middle-c-sub-title-version5-name{
display: inline-block;
position: relative;
}
.content-locospread-middle-c-sub-title-version6-name{
display: inline-block;
position: relative;
}
.content-locospread-middle-c-sub-title-version1-num{
display: inline-block;
position: relative;
}
.content-locospread-middle-c-sub-title-version2-num{
display: inline-block;
position: relative;
}
.content-locospread-middle-c-sub-title-version3-num{
display: inline-block;
position: relative;
}
.content-locospread-middle-c-sub-title-version4-num{
display: inline-block;
position: relative;
}
.content-locospread-middle-c-sub-title-version5-num{
display: inline-block;
position: relative;
}
.content-locospread-middle-c-sub-title-version6-num{
display: inline-block;
position: relative;
}
.hidden{
	display: none;
}
.title-width{
	width:115px;
}
.content-locospread-middle-c-sub-title-version-num-color{
	/*color: #000000;*/
}
.content-locospread-middle-c-sub-title-version-num-color0{
	color: #58B435;
}
.content-locospread-middle-c-sub-title-version-num-color1{
	color: #E3326E;
}
.content-locospread-middle-c-sub-title-version-num-color2{
	color: #662076;
}
.content-locospread-middle-c-sub-title-version-num-color3{
	color: #A8AD07;
}
.content-locospread-middle-c-sub-title-version-num-color4{
	color: #F60E0E;
}
