.tab-div1
{
    position:absolute;
    top:5px;
    left:10px;
    width:200px;
    height:30px;
    background:#fff;
}
.basic-tab-div
{
    position:absolute;
    width:60px;
    height:30px;
    line-height:30px;
    text-align:center;
    vertical-align:middle;
    border:1px solid #ccc;
    cursor:pointer;   
}
.version-tab-div
{
    position:absolute;
    width:60px;
    height:30px;
    left:60px;
    line-height:30px;
    text-align:center;
    vertical-align:middle;
    border:1px solid #ccc;
    cursor:pointer;
}
.qualityAlarm-tab-div
{
    position:absolute;
    width:60px;
    height:30px;
    left:120px;
    line-height:30px;
    text-align:center;
    vertical-align:middle;
    border:1px solid #ccc;
    cursor:pointer;
}
.equipmentStatus-tab-div
{
    position:absolute;
    width:60px;
    height:30px;
    left:180px;
    line-height:30px;
    text-align:center;
    vertical-align:middle;
    border:1px solid #ccc;
    cursor:pointer;
}
.content-basic-div
{
    width:360px;
    
    position:relative;
    
    /*border:1px solid #E8E8E8;*/
    border-top:0px;
    padding-left:10px;
}
.content-version-div
{
    width:360px;
    height:310px;
    position:relative;
    top:0px;
    /*border:1px solid #E8E8E8;*/
    border-top:0px;
}
.content-qualityAlarm-div
{
    width:100%;
    height:330px;
    position:relative;
    top:0px;
    border:1px solid #E8E8E8;
    border-top:0px;
}
.content-equipmentStatus-div
{
    width:525px;
    height:330px;
    position:relative;
    top:0px;
    border:1px solid #E8E8E8;
    border-top:0px;
}
.border-bottom-type
{
    border-bottom:0px;
}
.tab-background
{
    background:#E9E9E9;
}
.bundefined
{
	display:block;
	width:40px;
	height:20px;
    margin:0 auto;
    text-align:center;
    line-height:20px;
	cursor: pointer;
	color: #00EE00;
	font-size: 20px;
}



.time_div
{
	margin-top: 0px;

}
.time_lab
{
	color: red;
}

.app_realtime_train_divD
{
    		width: 360px;
    		height:37px;

    	
 }
 
 .app_filemanager_quality_div
{
    		width: 100%;
    		height:37px;

    	
 }
 .app_realtime_train_div
{
    		width: 360px;

 }
.locomotive_details_tab
{
	background-color: #F2F2F2;
	width: 360px;
	margin-top:0px;
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
	cellspacing: 0px;
}
.filemanager_quality_tab
{
	background-color: #F2F2F2;
	width: 100%;
	margin-top:0px;
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
	cellspacing: 0px;
}
.l
.locomotive_details_tab1
{
	background-color: #F2F2F2;
	width: 360px;
	margin-top:0px;
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
	cellspacing: 0px;
}

.locomotive_details_tab td
{
   text-indent:20px;
 }
.noTextIn td
{
  text-indent:0px;   
 }
.locomotive_details_tab_qualityAlarm
{
	height: 330px;
}
.locomotive_details_tab_version
{
	height: 370px;
	padding-right: 50px;
}
.locomotive_details_span
{
	background-color: black;
	text-align: center;
	width: 80px;
	height: 35px;
    line-height: 35px;
    vertical-align: middle;
	display: inline-block;
}
.distance_ico_span
{
	background-color: black;
	text-align: center;
	width: 75px;
	height: 35px;
	line-height: 35px;
	vertical-align:middle;
	display: inline-block;
}
.distance_ico
{
	width: 35px;
	height: 35px;
	vertical-align:bottom;
}
.lab
{
	color:#1D4BB2;
}
.td_height_new
{
	height: 18px;
}

.td_height20
{
	height: 10px;
}

.portrait { 
	width: 16px;
	display: block;
}



/***********设备状态start***************/








.equipment-monitoring-main-div-wb
 {
     margin:auto;
     position:relative;
     border:0px;
     width: 528px;
     background:#fff;
     border-left:0px solid gray;
     top:1px;
 }
 .equipment-monitoring-operator-right-div-wb
 {
     position:absolute;
     width:560px;
     height:44px;
     left:240px;
     line-height:44px;
     background:#fff;
     border-bottom:1px solid gray;
 }
.equipment-monitoring-main-content-div-wb
 {
 	height: 501px;
    width: 671px;
	background: #fff;
	position:relative;
	border: 1px solid gray;
	border-top:0px;
	border-left:0px;
}
.hidden {
	display: none;
}
.background-div-wb {
	background: #92DD22;
}

#wlan-span-wb {
	margin-left: 10px;
}
.lkj-div-wb
{
    position:relative;
    padding-left:0px;
    width:
}
 .equipment-detail-div-wb15
{
background-repeat: no-repeat;
    height: 490px;
    margin: 0px auto auto;
    position: relative;
    width: 666px;
}
.equipment-top-div-wb
{
    position:relative;
    background:#F5F5F5; 
    height:40px;
    line-height:40px;
    vertical-align:middle;
    padding-left:50px; 
    border:1px solid #E8E8E8;
    border-bottom:0px;
}
.middle-div-wb
{
    position:relative;
    height:226px;
    border:1px solid #E8E8E8;
    border-bottom:0px;
}
.bottom-div-wb
{
   height:240px;
     border:1px solid #E8E8E8;
    position:relative;
    border-bottom:0px;
    border-left:0px;
    border-right:0px;
}
.middle-left-div-wb
{
    position:absolute;
    width:185px;
    top:0px;
    bottom:0px;
    height:221px;
    border:1px solid #E8E8E8;
    border-left:0px;
    border-top:0px;
    padding-top:5px;
}
.middle-right-div-wb
{
    position:absolute;
    left:230px;
    width:515px;
    height:250px;    
    border:0px solid #E8E8E8;
    padding-left:10px;
    top:15px;
}

.div1-wb,.div2-wb,.div3-wb,.div4-wb,.div5-wb,.div6-wb
{
 border: 1px solid #E8E8E8;
    bottom: 0;
    height: 230px;
    position: absolute;
    top: 3px;
    width: 90px;
}

.div2-wb
{
   left:100px;
}
.div3-wb
{
    left: 200px;
    width: 70px;
}
.div4-wb
{
       left: 280px;
    width: 70px;
}
.div5-wb
{
  left: 360px;
    width: 193px;
}
.div6-wb
{
    right: 8px;
}
.row-div-wb
{
     position:relative;
    left:0px;
    right:0px;
    height:25px;
    line-height:25px;
    border:0px solid gray;
}


.row-left-div-wb,.row-right-div-wb
{
     position:absolute;
    left:0px;
    width:90px;
    height:24px;
    line-height:25px;
    background:#fff;
    text-align:center;
    vertical-align:middle;
}
.row-right-div-wb
{
  left:90px;
    background:#fff;
}
.middle-left-row-right-content-div-wb
{
     position:relative;
    left:10px;
    width:80px;
    background:#169E49;
    height:20px;
    line-height:20px;
    text-align:left;
    color:#3E82CA;
}
.middle-left-row-right-content-div1-wb,.middle-left-row-right-content-div2-wb
{
    position:absolute;
    left:10px;
    width:35px;
    height:20px;
    line-height:20px;
    background:#169E49;
}
.middle-left-row-right-content-div2-wb
{
    left:55px;
    background:#E60012;
}
/* .bottom-row-div-wb
{
 background: none repeat scroll 0 0 #FFFFFF;
    height: 25px;
    left: 0;
    line-height: 25px;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    vertical-align: middle;
} */
.bottom-row-left-div-wb,.bottom-row-right-div-wb
{
 background: none repeat scroll 0 0 #FFFFFF;
    height: 24px;
    left: 3px;
    line-height: 24px;
    position: absolute;
    top: 0;
    width: 50px;
   
}

.bottom-row-right-div-wb
{
color: #3E82CA;
    left: 50px;
    text-align: center;
    width: 40px;
}

.bottom-div5-row-left-div-wb,.bottom-div5-row-middle-div-wb,.bottom-div5-row-right-div-wb
{
 background: none repeat scroll 0 0 #FFFFFF;
    height: 20px;
    left: 0;
    line-height: 20px;
    position: absolute;
    top: 5px;
    width: 55px;
}
.bottom-div5-row-middle-div-wb
{
    left:65px;
    background:#169E49;
}
.bottom-div5-row-right-div-wb
{
    left:130px;
    background:#169E49;
}
.bottom-row-div-content-wb
{
  background: none repeat scroll 0 0 #169E49;
    color: #FFFFFF;
    height: 20px;
    left: 5px;
    line-height: 20px;
    position: absolute;
    top: 5px;
    width: 60px;
}
.bg-white-color-wb
{
    background:#fff;
}
.bg-green-color-wb
{
    background:#169E49;
}

.bg-red-color-wb
{
    background:#E60012;
}
.font-white-color-wb
{
    color:#fff;
}
.font-black-color-wb
{
    color:#000; 
}
.font-gray-color-wb
{
    color:#7D7D7D;
}
.text-align-set-wb
{
    text-align:center;   
}
.extend-box-div-wb
{
   height: 20px;
    left: 6px;
    line-height: 20px;
    position: absolute;
    width: 80px;
}

.equipment-main-div-wb
{
    background-repeat: no-repeat;
    border: 10px solid #FFA900;
    height: 185px;
    left: -55px;
    margin: 5px 5px 0;
    position: relative;
    top: -8px;
    width: 443px;
}
.more-btn-div-wb
{
    width:515px;
    height:20px;
    position:relative;
    top: 0px;
    left: 0px;
}
.oper-detail-btn-div-wb
{
    position:absolute;
    right:50px;
    width:60px;
    height:20px;
    line-height:20px;
    vertical-align:middle;
    text-align:center;
    font-size:12px !important;
    color:#7d7d7d !important;
    font-family:Monospace !important; 
    font-weight:normal;
    cursor:pointer;
    top:5px;
}
.equipment-ul-wb
{
 border: 1px solid #F3F3F3;
    float: left;
    height: 182px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 25px;
}

.equipment-ul-wb li
{
    padding:0px;
    margin:0px;
}
.color-li1-wb
{
    width:30px;
    height:10px;
    position:relative;
    text-align:center;
    line-height:10px;
}
.color-div-wb
{
    background: none repeat scroll 0 0 #0050B6;
    color: #0050B6;
    height: 5px;
    left: 2px;
    line-height: 5px;
    position: absolute;
    top: 5px;
    width: 20px;
}
.pic-li-wb
{
    width:30px;
    height:30px;
    position:relative;
}
.pic-div-wb
{   
    position:absolute;
    left:9px;
    top:9px;
    width:12px;
    height:12px;
    text-align:center;
    vertical-align:middle;
    line-height:30px;
    background-image:url("../../img/app/icon_1.png");
    background-repeat:no-repeat;
}
.pic-div-wb-gray
{   
    position:absolute;
    left:9px;
    top:9px;
    width:12px;
    height:12px;
    text-align:center;
    vertical-align:middle;
    line-height:30px;
    background-image:url("../../img/app/icon_3.png");
    background-repeat:no-repeat;
}

.pic-divError-wb
{   
    position:absolute;
    left:9px;
    top:9px;
    width:12px;
    height:12px;
    text-align:center;
    vertical-align:middle;
    line-height:30px;
    background-image:url("../../img/app/icon_2.png");
    background-repeat:no-repeat;
}

.no-pic-wb
{
    background-image:none;
}
.text-li-wb
{
     width:30px;
    height:110px;
}
.text-div-wb
{
    width:16px;
    margin-left:7px;
    margin-right:7px;
    text-align:center;
}
.type-div-wb
{
   width:16px;
    text-align:center;
    position:relative;
    left:8px;
    height:17px;
    line-height:17px;
}
.equipment-banben-width-wb
{
    width:115px;
}
.border-bottom-solid-set-wb
{
   border-bottom:1px solid #E8E8E8;  
}
.border-bottom-dashed-set-wb
{
    border-bottom:1px dashed #E8E8E8;
}
.text-align-left-wb
{
 padding-left: 25px;
    text-align: left;
}
.width-px-120-wb
{
  
}

/***********设备状态end*****************/
.tab-left
{
	position:absolute;
    top:5px;
    left:0px;
    height:31px;
    margin:0px;
    width:11px;
    border:0px;
    /*border-bottom:1px solid #ccc;*/
    background:#fff;
    z-index:-999;
}
.tab-right
{
    position:relative;
    top:5px;
    left:251px;
    height:23px;
    margin:0px;
    width:100%;
    border:0px;
    border-bottom:1px solid #ccc;
    background:#fff;
    z-index:-999;
}
.tab-border-radius-left
{
	 border-radius:8px 0px 0px 0px;
}
.tab-border-radius-right
{
	border-radius:0px 8px 0px 0px;
}
.border-top-click
{
	border: 0px;
	border-top: 1px solid #ccc;
	background-color: #444c63;
}
.border-left
{
	border-left: 1px solid #ccc;
}
.border-right
{
	border-right: 1px solid #ccc;
}
.border-bottom-split-td
{
	border-bottom:1px solid white;
}
.height-30px
{
	height: 30px;
}
.noTextIn .speed
{
  font-weight: 900;
  font-family: arial;
  color:#54cb00;
    font-size:20px;
}
.noTextIn .limitedSpeed
{
   font-weight: 900;
   font-family: arial;
   color:#e60012;
     font-size:20px;
 }
 .noTextIn .frontDistance
 {
  font-weight: 900;
  font-family: arial;
  color:#f3ae00;    
    font-size:20px;
 }
 .locomotive_details_tab .receiveTime
 {
      font-weight:bold;
 }
.banbenA_New
{
	position:absolute;
	top:1px;
	left: 5px;
	width: 175px;
	height: 450px;
	padding-left: 5px;
	background: #fff;
	border:1px solid #ccc;
}
.banbenA_New table tr,.banbenB_New table tr
{
    height: 28px;
}

.banbenB_New
{
	position:absolute;
	top:1px;
	left: 190px;
	padding-left: 5px;
	width: 177px;
	height: 450px;
	background: #fff;
	border:1px solid #ccc;
}
.color-blue
{
	color:#1D4BB2;
}
.qualityAlarm-table tr
{
	height: 30px;
}
.qualityAlarm-table-div
{
    width: 300px;
    height: 260px;
    padding-left: 120px;
    padding-top: 80px;
}
