#menu
{
    width: 110px;
    border-bottom: 0px;
    background: #e9eef0;
}
#menu ul
{
    padding: 0px;
    margin: 0px;
}
#menu li
{
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
/*     padding-left: 12px;
 */    list-style-type: none;
    border-bottom: 1px solid #E8E8E8;
}
#menu li a
{
    text-decoration: none;
    font-size: 12px !important;
    color: #444C60 !important;
    font-family: Monospace !important;
    font-weight: normal;
    display: block;
}
#menu li:hover
{
    /* background: #eee; */
    background: #444C60;
    color: #fff !important;  
    
}
 #menu li a:hover{
 	color: #fff !important;  
 }