.equipment-detail-div
{
    width: 795px;
    height: 480px;
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
    margin-top: 5px;
}
.equipment-top-div
{
    position: relative;
    background: #F5F5F5;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    padding-left: 50px;
    border: 1px solid #E8E8E8;
    border-bottom: 0px;
}
.middle-div
{
    position: relative;
    height: 250px;
    border: 1px solid #E8E8E8;
    border-bottom: 0px;
}
.bottom-div
{
    height: 240px;
    border: 1px solid #E8E8E8;
    position: relative;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}
.middle-left-div
{
    position: absolute;
    width: 240px;
    top: 0px;
    bottom: 0px;
    height: 245px;
    border: 1px solid #E8E8E8;
    border-left: 0px;
    border-top: 0px;
    padding-top: 5px;
}
.middle-right-div
{
    position: absolute;
    left: 230px;
    width: 515px;
    height: 250px;
    border: 0px solid #E8E8E8;
    padding-left: 10px;
    top: 15px;
}
.div1, .div2, .div3, .div4, .div5, .div6
{
    position: absolute;
    width: 110px;
    height: 230px;
    top: 5px;
    bottom: 0px;
    border: 1px solid #E8E8E8;
}
.div2
{
    left: 120px;
}
.div3
{
    left: 240px;
}
.div4
{
    left: 360px;
}
.div5
{
    left: 480px;
    width: 193px;
}
.div6
{
    right: 0px;
}
.row-div
{
    position: relative;
    left: 0px;
    right: 0px;
    height: 25px;
    line-height: 25px;
    border: 0px solid gray;
}
.row-left-div, .row-right-div
{
    position: absolute;
    left: 0px;
    width: 115px;
    height: 24px;
    line-height: 25px;
    background: #fff;
    text-align: center;
    vertical-align: middle;
}
.row-right-div
{
    left: 115px;
    background: #fff;
}
.middle-left-row-right-content-div
{
    position: relative;
    left: 10px;
    width: 80px;
    background: #169E49;
    height: 20px;
    line-height: 20px;
    text-align: left;
    color: #3E82CA;
}
.middle-left-row-right-content-div1, .middle-left-row-right-content-div2
{
    position: absolute;
    left: 10px;
    width: 35px;
    height: 20px;
    line-height: 20px;
    background: #169E49;
}
.middle-left-row-right-content-div2
{
    left: 55px;
    background: #E60012;
}
.bottom-row-div
{
    position: relative;
    left: 0px;
    right: 0px;
    background: #fff;
    height: 25px;
    line-height: 25px;
    top: 0px;
    text-align: center;
    vertical-align: middle;
}
.bottom-row-left-div, .bottom-row-right-div
{
    position: absolute;
    width: 62px;
    height: 24px;
    line-height: 24px;
    left: 3px;
    top: 0px;
    background: #fff;
}
.bottom-row-right-div
{
    left: 65px;
    width: 40px;
    color: #3E82CA;
    text-align: left;
}
.bottom-div5-row-left-div, .bottom-div5-row-middle-div, .bottom-div5-row-right-div
{
    position: absolute;
    left: 0px;
    width: 55px;
    height: 20px;
    background: #fff;
    line-height: 20px;
    top: 5px;
}
.bottom-div5-row-middle-div
{
    left: 65px;
    background: #169E49;
}
.bottom-div5-row-right-div
{
    left: 130px;
    background: #169E49;
}
.bottom-row-div-content
{
    position: absolute;
    left: 15px;
    width: 80px;
    height: 20px;
    line-height: 20px;
    background: #169E49;
    color: #fff;
    top: 5px;
}
.bg-green-color
{
    background: #169E49;
}
.bg-white-color
{
    background: #fff;
}
.bg-red-color
{
    background: #E60012;
}
.font-white-color
{
    color: #fff;
}
.font-black-color
{
    color: #000;
}
.font-gray-color
{
    color: #7D7D7D;
}
.text-align-set
{
    text-align: center;
}
.extend-box-div
{
    position: absolute;
    left: 15px;
    width: 80px;
    height: 20px;
    line-height: 20px;
}

.equipment-main-div
{
    margin: 5px;
    margin-bottom: 0px;
    width: 515px;
    height: 185px;
    background-repeat: no-repeat;
    border: 10px #FFA900 solid;
    position: relative;
    top: 0px;
    left: 5px;
}
.more-btn-div
{
    width: 515px;
    height: 20px;
    position: relative;
    top: 0px;
    left: 0px;
}
.oper-detail-btn-div
{
    position: absolute;
    right: 50px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    font-size: 12px !important;
    color: #7d7d7d !important;
    font-family: Monospace !important;
    font-weight: normal;
    cursor: pointer;
    top: 5px;
}
.equipment-ul
{
    width: 30px;
    height: 182px;
    border: 1px solid #F3F3F3;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    float: left;
    position: relative;
}

.equipment-ul li
{
    padding: 0px;
    margin: 0px;
}
.color-li1
{
    width: 30px;
    height: 10px;
    position: relative;
    text-align: center;
    line-height: 10px;
}
.color-div
{
    background: #0050B6;
    left: 5px;
    top: 5px;
    width: 20px;
    height: 5px;
    line-height: 5px;
    position: absolute;
    color: #0050B6;
}
.pic-li
{
    width: 30px;
    height: 30px;
    position: relative;
}
.pic-div
{
    position: absolute;
    left: 9px;
    top: 9px;
    width: 12px;
    height: 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    background-image: url("../../img/app/icon_1.png");
    background-repeat: no-repeat;
}
.no-pic
{
    background-image: none;
}
.text-li
{
    width: 30px;
    height: 110px;
}
.text-div
{
    width: 16px;
    margin-left: 7px;
    margin-right: 7px;
    text-align: center;
}
.type-div
{
    width: 16px;
    text-align: center;
    position: relative;
    left: 8px;
    height: 17px;
    line-height: 17px;
}
.equipment-banben-width
{
    width: 115px;
}
.border-bottom-solid-set
{
    border-bottom: 1px solid #E8E8E8;
}
.border-bottom-dashed-set
{
    border-bottom: 1px dashed #E8E8E8;
}
.text-align-left
{
    text-align: left;
    padding-left: 25px;
}
.width-px-120
{
}
